---
import { Facebook } from "lucide-react";
import { Instagram } from "lucide-react";
import { Github } from "lucide-react";
import { Mail } from "lucide-react";
---

<footer class="bg-black text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8 pb-8">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-8 mx-auto text-center md:text-left"
    >
      <div class="mt-10">
        <h3 class="text-2xl mb-6 text-[#8f7d5e]">About</h3>
        <p
          class="text-white text-sm text-justify tracking-tight max-lg:tracking-wide"
        >
          <span class="self-center font-bold whitespace-nowrap tracking-tight">
            <span class="text-white">Tech</span><span class="text-[#602f32]"
              >Tony</span
            ><span class="text-[#8f7d5e]">k</span></span
          >
          is a blog for tech enthusiasts. I publish articles, accomplishments, milestones,
          stories, thoughts, and tutorials about tech related stuff.
        </p>
      </div>
      <div class="mt-10 mx-auto">
        <h3 class="text-2xl mb-6 text-justify text-[#8f7d5e]">Categories</h3>
        <ul class="text-white text-md">
          <li class="mb-2">
            <a
              href="#"
              class="hover:underline hover:underline-offset-4 hover:decoration-[#602f32] hover:decoration-2"
              >Tech</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#"
              class="hover:underline hover:underline-offset-4 hover:decoration-[#602f32] hover:decoration-2"
              >Coding</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#"
              class="hover:underline hover:underline-offset-4 hover:decoration-[#602f32] hover:decoration-2"
              >Artificial Intelligence</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#"
              class="hover:underline hover:underline-offset-4 hover:decoration-[#602f32] hover:decoration-2"
              >Tools</a
            >
          </li>
          <li class="mb-2">
            <a
              href="#"
              class="hover:underline hover:underline-offset-4 hover:decoration-[#602f32] hover:decoration-2"
              >Productivity</a
            >
          </li>
        </ul>
      </div>
      <div class="mt-10 max-sm:flex max-sm:flex-col max-sm:items-center">
        <h3 class="text-2xl mb-6 text-justify text-[#8f7d5e]">Contact</h3>
        <ul
          class="text-white text-md flex justify-start items-center gap-4 mb-2"
        >
          <li class="mb-2">
            <a
              href="https://github.com/tonybnya"
              target="_blank"
              class="text-white hover:text-[#602f32]"
            >
              <Github />
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://x.com/tonybnya"
              target="_blank"
              class="text-white hover:text-[#602f32]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 1200 1227"
              >
                <path
                  fill="#fff"
                  d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://www.instagram.com/tonybnya"
              target="_blank"
              class="text-white hover:text-[#602f32]"
            >
              <Instagram />
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://web.facebook.com/tonybnya"
              target="_blank"
              class="text-white hover:text-[#602f32]"
            >
              <Facebook />
            </a>
          </li>
        </ul>
        <div class="flex gap-2">
          <Mail /><span class="tracking-wide">tonybnya@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</footer>
