---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "@/styles/globals.css";

import { BLOG_TITLE, BLOG_DESCRIPTION } from "../constants";

const {
  title = "Articles, Inspiring Stories, and Hands-On Tutorials - By Tony B. NYA",
} = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={BLOG_DESCRIPTION} />
    <link rel="icon" type="image/x-icon" href="/techtonyc.ico" />
    <title>{BLOG_TITLE} - {title}</title>
  </head>
  <body>
    <Navbar />

    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <slot />
    </section>

    <Footer />
  </body>
</html>
